<% DB.forEach(item=> { %>
    <% if (Email==item.email && Show==true) { %>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">RAQ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link <%if(dis == 'index'){%> disabled <%}%>" aria-current="page"
                                href="<%= main %>/">الصفحة
                                الرئيسية</a>
                        </li>
                        <% if (item.role !="user" ) { %>
                            <li class="nav-item">
                                <a class="nav-link<%if(dis == 'add'){%> disabled <%}%>" href="<%= main %>/add">إضافة</a>
                            </li>
                            <% } %>
                                <% if (item.role=="owner" || item.role=="founder" ) { %>
                                    <li class="nav-item">
                                        <a class="nav-link <%if(dis == 'profits'){%> disabled <%}%>"
                                            href="<%= main %>/profits">الأرباح</a>
                                    </li>
                                    <% } %>

                                        <li class="nav-item">
                                            <a class="nav-link <%if(dis == 'points'){%> disabled <%}%>"
                                                href="<%= main %>/points">النقاط</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link <%if(dis == 'orders'){%> disabled <%}%>"
                                                aria-current="page" href="<%= main %>/orders">الطلبات</a>
                                        </li>
                                        <% if (item.role=="owner" || item.role=="founder" || item.role=="manger" ) { %>
                                            <li class="nav-item">
                                                <a class="nav-link <%if(dis == 'MangAccounts'){%> disabled <%}%>"
                                                    aria-current="page" href="<%= main %>/mangAccounts">إدارة
                                                    الحسابات</a>
                                            </li>
                                            <% } %>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="border-end">
                            <span>
                                <form action="/<%= item.role %>/<%= item.id_device %>/<%= item.email %>/Logout"
                                    method="post">
                                    <button class="btn text-danger" href="/login">Logout</button>
                                    <%= item.name %>&nbsp;&nbsp;
                                </form>
                            </span>
                        </li>
                        <li class="border-end">
                            <a class="btn <%if(dis == 'editYouAccount'){%> disabled <%}%>"
                                href="<%= main %>/manegAccount/<%= item._id %>">إدارة
                                الحسابك</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <% }}) %>